
@import url('https://fonts.googleapis.com/css?family=Sacramento|Raleway&display=swap');

body {
  font-family: 'Raleway';
  margin: 5% 8%;
}
p {
  font-size:1.1em;
}

a {
  text-decoration: none;
  color:#333;
}

body.light-mode h2, 
body.light-mode h1,
body.light-mode h1 span,
body.light-mode a:hover,
body.light-mode .main-works h3:hover,
body.light-mode b {
  color: #ec1260;
}

body.light-mode .menu {
  font-size: 2em;
}

body.light-mode .dark-mode-toggle {
  margin-top: 5%;
}

body.dark-mode .contact-me,
body.dark-mode .skills-interests,
body.dark-mode .education  {
  margin-top: 5%;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

body.light-mode .menu {
  justify-content: flex-start;
  flex-wrap: wrap;
}
 
.menu li {
  padding-right: 3%;
}

.menu li:not(.myName) {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 200;
}

#projects {
  width: 100%;
}

.myName {
  font-size: 2.2em;
  margin: 0;
  color: #ec1260;
}

.myName, h2 {
  font-family: 'Sacramento'; 
}

.profil {
  display: flex;
  justify-content: left;
}

.profil a {
  font-size: 1.3em;
}

.profil .social {
  width: calc(25% - 2em);
}


h2 {
  font-size: 3.5em;
  font-weight: 500;
  margin: 5% 0 0;
}

h3 {
  font-weight: 800;
  font-size: 1.3em;
}
.About-me p {
  font-size: 1.5em;
  font-weight: 800;
  margin:5% 0 0;
  font-weight: bold;
}

.main-works {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 4%;
}

.main-works .card {
  width: calc(33.33% - 2em);
}

.main-xp .card:not(:first-child) {
  width: calc(100% - 2em);
}

footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 6%;
}

footer small {
  margin-right: 2em;
}

@media screen and (max-width: 1150px ) {

  body.light-mode .menu,
  body.dark-mode .menu {
  justify-content: flex-start;
  flex-wrap: wrap;
  }
  .myName {
    font-size: 1.5em;
  }
  body.dark-mode h2.neon-purple{
    margin-top: 10%;
  }
  footer {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px ) {
  body {
    font-size: 0.7em;
  }
  .menu h1 {
    display: none;
  }
  body.dark-mode .neon-blue {
    font-size: 1.5em;
  }
  body.dark-mode .neon-purple {
    font-size:2em;
  }
  .mobile {
    display: none;
  }
  .menu {
    font-size: 1.3em;
  }
  .main-works .card,
  .profil .social {
  width: calc(100% - 2em);
  }
}



