@import url('https://fonts.googleapis.com/css?family=Raleway|Pacifico|Ultra|Oswald&display=swap');

body {
  font-family: 'Oswald';
  margin: 0 10em;
  font-weight: 400;
  line-height: 1.5;
}

body.light-mode :focus {
  outline: 2px solid #6788c6;
}

body.dark-mode :focus {
  outline: 2px solid #E53D8B;
}

.light-mode a {
  background-image: linear-gradient(to bottom, #a5cce9 20%, #a5cce9 70%);
  color: #444;
}

.dark-mode a {
  color: #d1d1d1;
  background-image: linear-gradient(to bottom, #1f72e8 20%, #1f72e8 70%);
}

.light-mode a.projects-links { 
  background-image: linear-gradient(to bottom, #34e095 20%, #34e095 50%);
 }

.dark-mode a.projects-links { 
  background-image: linear-gradient(to bottom, #e53d8b 20%, #e53d8b 50%);
 }

.light-mode a.source-title { 
  background-image: linear-gradient(to bottom, #a5cce9 20%, #a5cce9 70%);
 }

.dark-mode a.source-title { 
  background-image: linear-gradient(to bottom, #1f72e8 20%, #1f72e8 70%);
}

small a,
a.contact-links {
  background-image: linear-gradient(to bottom, #fcc31c 20%, #fcc31c 50%);
}

.contact-links span {
  color: #fcc31c;
}

aside a.source-title,
.resources-page a.source-title {
  font-size: 1.3em;
}

.resources-list h2 {
    margin: 1em 0;
    text-align: right;
}

a:not(.extern-link) {
  text-decoration: none;
  background-size: 0 5%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.light-mode a:not(.no-hover),
.light-mode a span {
  border-bottom: 3px solid #444;
}

.light-mode .footer-links small a {
  border-bottom: 1px solid #444;
}

.dark-mode a:not(.no-hover),
.dark-mode a span {
    border-bottom: 3px solid #d1d1d1;
}

.dark-mode .footer-links small a {
  border-bottom: 1px solid #d1d1d1;
}

a.extern-link {
  transition: background .9s;
  text-decoration: none;
  background-repeat: no-repeat;
}

a.card-link {
   font-size: 1.1em; 
}

body.light-mode {
  color: #444444;
  transition: background-color 1s ease-out;
  background: #FFFFFF;
}

body.dark-mode {
  color: #d1d1d1;
  transition: background-color 1s ease-out;
  background-image: linear-gradient(to top right, #181830 10%, #463C64 70%);
}

p {
  font-size: 1.2em;
}

.desktop {
  display: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  font-size: 1.4em;
  font-family: 'Raleway'; 
  font-weight: 700;
}

.to-the-page,
.to-the-site {
  display: inline-block;
  float:right;
  margin-top: -2em;
  margin-bottom: 2em;
}

.to-the-site {
  margin-top: -1em;
}

.menu.top-nav {
  margin: 1em 0;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.menu.top-nav li:not(.left-nav) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.top-nav li.left-nav {
  justify-content: left;
}

.menu.top-nav li:not(.toggle-mode) {
  padding-right: 2em;
}

.left-nav {
  display: flex;
  flex-grow: 1;
}

.right-nav {
  position: fixed;
  z-index: 3;
  right: 1em;
  background: transparent 0 -1145px;
  top: 2em;
}

.menu.right-nav li {
  padding-bottom: 2em;
}

.right-nav li a {
  webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

}
.light-mode .right-nav li a{
  border-left: 3px solid #444;
  border-bottom: transparent;
}

.dark-mode .right-nav li a{
  border-left: 3px solid #d1d1d1;
  border-bottom: transparent;
}

.dark-mode-toggle {
   display: flex;
   margin: 0 auto;
}
 
.dark-mode-toggle > button {
   background: none;
   border: none;
   color: #E9B32D;
   cursor: pointer;
   transition: color 0.3s ease;
   padding: 0;
   margin: 0;
}
 
.dark-mode-toggle > button:last-child {
   color: #efdb6b;
   margin-top: -4%;
   margin-left: 5px;
}
 
.dark-mode-toggle > button:focus {
   outline: none;
}
 
.toggle-control {
   position: relative;
   display: flex;
}

 input[type='checkbox'].toggle-theme {
   width: 30px;
   height: 30px;
   background: #E9B32D;
   position: relative;
   border-radius: 25px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   cursor: pointer;
   vertical-align: 2px;
   outline: none;
}

 input[type='checkbox'].toggle-theme:checked + label {
   left: 33px;
   top: -5px;
   right: 0;
   background-color: #055c66;
}

 input[type='checkbox'].toggle-theme:focus-visible {
   outline: solid 2px white;
}

 input[type='checkbox'].toggle-theme + label {
   display: inline-block;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   transition: all 0.3s ease;
   cursor: pointer;
   position: absolute;
   background: #fff;
   opacity: 0.9;
   background-color: #f6f6f6;
}

h1 {
  font-family: 'ultra', serif;
  font-size: 1.5em;
  margin-bottom: 0;
}

.main-subtitle {
  font-size: 0.8em;
  margin: 0;
}

h2 {
  font-family: 'Raleway'; 
  font-weight: 700;
}

.light-mode h2 {
  border-bottom: 3px solid #444;
}

.contact-me h2 {
  margin-top: 3em;
}

.dark-mode h2 {
  border-bottom: 3px solid #d1d1d1;
}

aside h2 {
  margin-bottom: 1.5em;
}

.extern-link {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1em;
  font-weight: 700;
  margin: 0.5em 0;
}

.about-me {
  margin: 8em 0;
}
.about-me p {
  font-size: 1.4em;
}

.get-in-touch, 
p.section-intro {
  font-size: 1.3em;
  margin: 0.5em 0;
}

.get-in-touch {
  padding: 0.3em 0;
  margin: 0;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 3%;
  margin: 3em 0;
}

.resources-section {
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;
}

aside {
  margin: 5em 0;
}

.main-works .card {
  width: calc(50% - 2em);
  margin-top: 2em;
}

h3 {
  font-family: 'pacifico';
}

h3.resources-page-subtitle {
  font-size: 1.5em;
  color: #327acf;
  margin: 1em 0 0.5em;
}

p.links {
  display: flex;
  justify-content: space-between;
}

.card .content span.techno {
  letter-spacing: 0.15em;
}

.light-mode .card .content span.techno {
  color: #03d05b;
}

.dark-mode .card .content span.techno {
  color: #e53d8b;
}

/*.dark-mode .card {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, #E53D8B, #2391DE);
}
*/

.smcard-img {
  width: 100%;
  border-radius: 8px;
}

.bottom-page {
  text-align: center;
}

.contact-link {
  margin: 2em 0;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
}

footer {
  margin: 4em 0 2em;
  font-size: 1em;
}

.left-footer small {
  margin-right: 2em;
}

.right-footer small {
  margin-left: 2em;
}

section.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.copyright {
  margin: 0.5em 0;
}

.light-mode .copyright {
  border-top: 1px solid #b6b6b6;
}

.dark-mode .copyright {
  border-top: 1px solid #a4a4a4;
  color: #a4a4a4;
}

a.resources-mobile {
  font-size: 1.3em;
}
.resources-card p {
  font-size: 1.1em;
  margin: 0.2em 0 0.6em;
}

@media(hover: hover) and (pointer:fine) {

  .right-nav li a:hover {
    background-size: 50% 100%;
    background-position: 0 -.1em;
  }

  a:hover:not(.no-hover) {
    transition: .9s;
    background-size: 150% 50%;
    background-position: -.5em 0;
  }

   .right-nav li a:hover {
    border-left: 3px solid transparent;
   }

   .right-nav li a:hover,
   a:hover:not(.no-hover) {
    border-bottom: 3px solid transparent;
   }

  .footer-links small a:hover {
    border-bottom: 1px solid transparent;
  }
 
}

/*----------------------------------
Media queries ----------------------*/

@media screen and (max-width: 1150px ) {
  #root {
    width: 98%;
  }
  .nav {
    display: none;
  }
  .menu.top-nav {
    justify-content: space-between;
  }
  .desktop {
    display: flex;
  }
  .about-me {
    padding: 0;
    margin: 4em 0;
  }
  h2 {
    margin: 0 0 1em;
  }
  .main-works .card {
    width: calc(100% - 1em);
  }
  .mobile {
    display: none;
  }
  .contact-me {
    margin-bottom: 5em;
  }
  .contact-link p {
    margin: 0.5em 0;
  }
  .contact-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.5em 0 0;
  }
  a.resources-mobile {
    font-size: 1.2em;
  }
  aside .resources-card p,
  .to-the-page {
    display: none;
  }
  
  .resources p, 
  .about-me p,
  .contact-link p,
  p, p.section-intro {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 450px ) {
  body {
    margin: 2em;
    margin-right: 2.5em;
  }
  input[type='checkbox'].toggle-theme:checked + label {
    left: 28px;
  }
  input[type='checkbox'].toggle-theme + label,
  input[type='checkbox'].toggle-theme  {
    width: 25px;
    height: 25px;
  } 
  .menu.top-nav {
    justify-content: flex-start;
  }
  .menu.top-nav li:not(.toggle-mode) {
    padding-right: 0.5em;
    font-size: 0.80em;
  }
  .right-nav {
    font-size:1.2em;
    right:0.2em;
  }
  .light-mode .right-nav li a {
    border-left: 2px solid #444;
  }
  .dark-mode .right-nav li a {
    border-left: 2px solid #d1d1d1;
  }
  .light-mode a:not(.no-hover), 
  .light-mode a span {
    border-bottom: 2px solid #444;
  }
  .portfolio-list {
    margin-top: 1em;
    display: block;
  }
  footer {
    margin: 3em 0 1em;
  }
  .footer-links {
    flex-direction: column;
  }
}
