
@import url('https://fonts.googleapis.com/css?family=Chicle|Raleway&display=swap');


body {
  margin: 2% 5%;
  font-family: 'Raleway';
  font-size: 1.2em;
/*  background-color: #F7EEB7;
*/}

* {
  color: #333;
}

a {
  text-decoration: none;
}

.smSpaceAround {
  margin: 2.5em 0;
}

.menu {
  list-style-type: none;
  padding: 0;
}
 
.menu li {
  display: inline;
  padding-right: 3%;
}

.menu li:not(.myName) {
  font-size: 1.5em;
}

.myName {
  font-size: 2em;
}

.myName a {
  color: /*#EC1260*/#FBAD17;
}

.smcolors a {
  transition: text-shadow .5s ease-in-out;
}

.smcolors a:hover {
  color: #FBAD17;
  text-shadow: -1px 0 #333,0 1px #333,1px 0 #333,0 -1px #333;
  transition: text-shadow .8s ease-in-out;
}


.someWorks,
.contact-me {
  color: #FB7E05;
}

.contact-me {
  color: #e57002;
}


.myName, h2 {
  font-family: 'Chicle'; 
  font-size: 2em;   
}

h2, h3 {
  font-weight: 800;
}

.about {
  margin: 5% 0;
  font-weight: bold;
}

.main-works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.smCard {
  width: calc(33.33% - 2em);
}

.smInput,
.smText {
  width: 70%;
  display: inline-block;
  margin: 1% 0;
}

.smText {
  min-height: 150px;
}


.main-footer {
  display: flex;
  justify-content: flex-end;
}

.main-footer p {
  margin-right: 2em;
}